h1 {
    font-family: "Monserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff; 
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav {
    color: #ffffff;
}

h2 {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 48px;
  }

main h2 span {
    color:#00D6A1;
  }

body {
    background-color: #011820;
}

p {
    color: #2E3D45;
}

main{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    gap: 10px; 
  }

.type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.type a {
  color: white; 
  text-decoration: none; 
  margin: 0 10px; 
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.type a:hover {
  background-color: #00D6A1;
}

.type a.selected {
  background-color: #00D6A1; 
}
  
